.Footer {
    background-color: #DEF2F1;
    color: #2a6e6b;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-size: 26px;
    justify-content: center;
    
}

.Footer p {
    min-width: 80%;
    display: flex;
    justify-content: space-around;
    border-top: 3px solid #2a6e6b;
    padding-top: 20px;
}